{% extends 'base.html' %}

{% block title %}Записи сообщества {{ group }}{% endblock %}

{% block content %}
<main>
    <!-- класс py-5 создает отступы сверху и снизу блока -->
    <div class="container py-5">
      <h1>Лев Толстой – зеркало русской революции.</h1>
      <p>
        {{ group }}
      </p>
      {% for posts in posts %}
      <article>
        <ul>
          <li>
            Автор: {{ posts.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ posts.pub_date|date:"d E Y" }}
          </li>
        </ul>      
        <p>
          {{ posts.text }}
        </p>         
      </article>
      {% if not forloop.last %}<hr>{% endif %}
      {% endfor %} 
    </div>  
  </main>
  <!-- Использованы классы бустрапа: -->
  <!-- border-top: создаёт тонкую линию сверху блока -->
  <!-- text-center: выравнивает текстовые блоки внутри блока по центру -->
  <!-- py-3: контент внутри размещается с отступом сверху и снизу -->
{% endblock %}